body {
    background-color: #222;
    color: #eee;
    word-break: break-all;
}
.container {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
}
header {
    margin: 20px 0;
}
h1 {
    font-size: 130px;
    text-align: center;
    margin: 0;
}
nav {
    display: block;
    text-align: center;
    margin-top: 10px;
}
nav a {
    color: #eee;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    padding-right: 10px;
    padding-bottom: 10px;
}
nav a:last-of-type {
    margin: 0;
}
.rubik-80s-fade-regular {
    font-family: "Rubik 80s Fade", system-ui;
    font-weight: 400;
    font-style: normal;
}

.libre-barcode-128-text-regular {
    font-family: "Libre Barcode 128 Text", system-ui;
    font-weight: 400;
    font-style: normal;
}

img {
    width: 100%;
    display: block;
}
